
<div class="row">
  <div class="col-sm-offset-2 col-sm-10">
    <%= simple_form_for @question, 
      html: { class: 'form-horizontal' },
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      } do |f| %>
      <%= f.error_notification %>
      <%= render 'questions/answer_errors' %>

      <div class="form-inputs">
        <table class="table input-table">
          <tr>
            <td><%= f.input :question_type, 
                    autofocus: true,
                    collection: Question::QUESTION_TYPES.map { |k, v| [v, k] }, 
                    include_blank: true  %>
            </td>
            <td><%= f.input :quiz_id, as: "hidden" %></td>
          </tr>
          <tr>
            <td><%= f.input :content, label: "Question", as: :text,
                      input_html: { 
                        placeholder: "supports markdown", class: "autosize" } %>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.input :remarks, as: :text, 
                      input_html: { 
                        placeholder: "shown after the user answers",
                        class: "autosize" 
                      }%>
            </td>
            <td></td>
          </tr>
          <%= f.simple_fields_for :answers do |answers| %>
            <%= render 'questions/answer_fields', f: answers  %>
          <% end %>
          <tr>
            <td class="center">
              <%= link_to_add_fields "Add an Answer", f, :answers %>
            </td>
            <td>&nbsp;</td>
          </tr>
          </table>
      </div>

      <hr/>
      <div class="form-actions col-sm-offset-3 col-sm-6">
        <%= f.button :submit, 
            class: 'btn btn-primary btn-sm'  
        %> 
        <%= link_to 'Cancel', 
            quiz_path(@question.quiz_id), 
            class: 'btn btn-danger btn-sm' 
        %>
      </div>
    <% end %>

  </div>
</div>