<%= simple_form_for(@presenter.quiz_taking_form) do |f| %>
  
  <%= f.error_notification %>
  <%= render  :partial => "full_error_messages", 
              :locals => { :@form => @presenter } %>

  <table class="table table-bordered">
    <tr>
      <td class="quiz_event_section">
        Question <%= @presenter.question_number %>
      </td>
    </tr>
    <tr>
      <td class="question">
        <%= markdown(@presenter.question.content) %>
      </td>
    </tr> 
    <tr>
      <td>
        <% if @presenter.multi_select? %>
          <%= f.collection_check_boxes :answer_ids, 
              @presenter.question.answers, :id, :content, 
              {:item_wrapper_class => 'answer_checkbox'} %>
        <% else %>
          <%= f.collection_radio_buttons :answer_ids, 
              @presenter.question.answers, :id, :content,
              {:item_wrapper_class => 'answer_checkbox'} %>
        <% end %>
      </td>
    </tr> 
  </table>
  
  <%= f.input :id, as: "hidden" %>
  <%= f.input :question_id, as: "hidden" %>
  
  <div class="form-actions col-md-offset-3" >
    <%= f.button :submit, value: "Continue --->", 
          class: 'btn btn-primary btn-sm' %> 
    <%= link_to 'Quit', @presenter.quiz_event, 
          method: :delete, 
          data:   { confirm: 'Are you sure?' }, 
          class:  'btn btn-primary btn-sm'  %>
  </div>

<% end %>