<%= simple_form_for(@quiz_event) do |f| %>
  
  <%= f.error_notification %>
  <ul>
    <%  @quiz_event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <table class="table table-bordered">
    <tr><td class="quiz_event_section_header">Question <%= @quiz_event.current_question_number %></td></tr>
    <tr>
      <td class="question">
        <%= markdown(@quiz_event.current_question.content) %>
      </td>
    </tr> 
    <tr>
      <td>
        <% if @quiz_event.current_question.question_type == "MC-2" %>
          <%= f.collection_check_boxes :answer_ids, 
              @quiz_event.current_question.answers, :id, :content, 
              {:item_wrapper_class => 'answer_checkbox'} %>
        <% else %>
          <%= f.collection_radio_buttons :answer_ids, 
              @quiz_event.current_question.answers, :id, :content,
              {:item_wrapper_class => 'answer_checkbox'} %>
        <% end %>
      </td>
    </tr> 
  </table>
  
  <%= f.input :quiz_id, as: "hidden" %>
  <%= f.input :question_id, as: "hidden" %>
  
  <div class="form-actions col-md-offset-3" >
    <%= f.button :submit, value: "Continue ---> ", 
          class: 'btn btn-primary btn-sm'  %> 
    <%= f.button :submit, value: "Suspend (resume later)", name: "suspend_button", 
          class: 'btn btn-primary btn-sm'  %>
    <%= link_to 'Quit', @quiz_event, method: :delete, data: { confirm: 'Are you sure?' }, 
          class: 'btn btn-primary btn-sm'  %>
  </div>

<% end %>

