<div class="well">
  <div class="section-header">
    Quizzes Taken
    <hr/>
  </div>  
  <div class="table-responsive">
  <table class="table table-bordered table-striped index-table">
  <thead>
    <tr>
      <th>Quiz</th>
      <th>Correct</th>
      <th>Total</th>
      <th>Score</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_events.each do |quiz_event| %>
      <tr>
        <td><%= link_to quiz_event.quiz.name, quiz_event %></td>
        <td><%= quiz_event.total_correct %></td>
        <td><%= quiz_event.total_answered %></td>
        <td><%= "%.0f" % quiz_event.current_percent_grade %>%</td>
        <td>
          <%= link_to 'destroy', quiz_event, method: :delete, 
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


