<div class="panel panel-default">
  <div class="panel-heading panel-orange">
    <div class="panel-title index-section-header">
      <i class="<%= Icon::QUIZ_TAKEN %>"></i>
      Quizzes Taken
      <span class="badge pull-right">
          <%= @count %>
       </span>
    </div>
  </div>
  <div class="panel-body">
    <%= render  partial: 'search/shared_search', 
                locals: {   path: quiz_events_path, 
                            btn_cmd: QuizTakingPresenter.clear_link_command } %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped index-table">
        <thead>
          <tr>
            <th>Quiz</th>
            <th>Category</th>
            <th>Subject</th>
            <th>Score</th>
            <th>Status</th>
            <th>Date</th>
            <th colspan="1"></th>
            <th colspan="1"></th>
          </tr>
        </thead>
          <% @quiz_events.each do |quiz_event| %>
          <tr>
            <td><%= link_to quiz_event.quiz_name, quiz_event, 
                      class: "index-link"  %>
            </td>
            <td><%= quiz_event.category_name  %></td>
            <td><%= quiz_event.subject_name  %></td>
            <td><%= GradePresenter.long_score(quiz_event.grade) %></td>
            <td><%= quiz_event.status %></td>
            <td><%= time_ago_in_words(quiz_event.updated_at)%> ago</td>
            <td><%= link_to 'destroy', 
                    quiz_event_path(quiz_event,return_to: "index"), 
                    method: :delete, data: { confirm: 'Are you sure?' }, 
                    class: "index-link delete-link"  %>
            </td>
            <td><%= link_to 'take again', 
                      quiz_events_path(quiz_id: quiz_event.quiz_id),  
                      method: :post, 
                      class: "index-link play-link" %>
            </td> 
          </tr>
          <% end %>
          <% if @quiz_events.empty? %>
            <tr><td colspan="8">There are no quizzes taken in your history.</td></tr>  
          <% end %>
      </table>
    </div>

    <div class="center">
      <%= will_paginate @quiz_events, renderer: BootstrapPagination::Rails  %>
    </div>
    <br/><br/><br/><br/>
  </div>
</div>