<ul class="breadcrumb">
  <li><%= link_to 'Quizzes Taken', quiz_events_path %> <span class="divider"></span></li>
  <li class="active">Show Quiz Taken</li>
</ul>

<div class="row">
  <div class="col-md-offset-3 col-md-6">  
    <div class="home-header">
      <h3><%= @quiz_event.status %></h3>
    </div>
     <h4><%= "You scored #{formatted_quiz_score(@quiz_event)}% 
      (#{@quiz_event.total_correct} out of #{@quiz_event.total_answered})
       #{time_ago_in_words(@quiz_event.updated_at)} ago!" %>
       <br/><br/>
     </h4>
  
  <%= render partial: 'quizzes/quiz_fields', locals: { quiz: @quiz_event.quiz }  %>
  

    <%= simple_form_for QuizEvent.new, method: :post do |f| %>
     <%= f.error_notification %>
      <%= hidden_field_tag "quiz_event[quiz_id]", @quiz_event.quiz_id %>
      <div class="form-actions center">
          <%= f.button :submit, value: "Take This Quiz Again", 
              class: 'btn btn-primary btn-sm'  %> 
          <% if @quiz_event.quiz.author == current_user %>
            <%= link_to "Edit Quiz", quiz_path(@quiz_event.quiz), 
              class: "btn btn-sm btn-primary" %>   
          <% end %>
      </div>
    <% end %>
 </div>
</div> 


