
<div class="row">
  <div class="col-md-offset-3 col-md-6">  

    <p id="notice"><%= notice %></p>
    <% unless @quiz_event.before_first_question? || answer_shown_already? %>
      <%= render 'graded_question' %>
    <% end %>

 </div>
</div> 

<div class="row">
  <div class="col-md-offset-3 col-md-6">  
    <p class="quiz_event_result_header">
      You've completed the quiz!
    </p>

    <p class="quiz_event_result_body">
       <%= "You scored %.0f" % @quiz_event.current_percent_grade %>%&nbsp;
       (<%= @quiz_event.total_correct %> out of 
        <%= @quiz_event.total_answered %>)
        <br/>

    </p>

 </div>
</div> 