<%= simple_form_for @quiz, 
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <table class="table input-table">
      <tbody>
        <tr><td><%= f.input :name %></td></tr>
        <tr>
          <td><%= f.input :description, as: :text, 
                    input_html: { rows: text_area_rows(@quiz.description,70) } %>
          </td>
        </tr>
        <tr><td><hr/>*</td></tr>
        <tr>
          <td>
            <%= f.association :category %>
            <%= f.input :new_category, label: "or create a new category:"  do %>
              <%= text_field_tag 'new_category' %>
            <% end %>
          </td>
        </tr>
        <tr><td><hr/>*</td></tr>
         <tr>
          <td>
            <%= f.input :subject_id, collection: Category.all.to_a, as: :grouped_select, group_method: :subjects %>
            <%= f.input :new_subject, label: "or create a new subject:"  do %>
              <%= text_field_tag 'new_subject' %>
            <% end %>
          </td>    
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-actions center">
    <%= f.button :submit,         class: 'btn btn-primary btn-sm'  %> 
    <%= link_to 'Cancel', :back,  class: 'btn btn-danger btn-sm' %>
  </div>
<% end %>

