<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <span class="field-title">Name: </span>
          <%= @quiz.name  %>
        </td>  
        <td>
          <span class="field-title">Category: </span>
          <%= @quiz.category.name %>
        </td>
        <td>
          <span class="field-title">Subject: </span>
          <%= @quiz.subject.name %>
        </td>
      </tr>
      <tr>
        <td colspan ="2">
          <span class="field-title">Description: </span>
          <%= @quiz.description %>
        </td>
        <td>
          <span class="field-title">Published? </span>
          <%= @quiz.published ? "Yes" : "No" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
