<div class="well">
  <div class="section-header">
    Quizzes Written
     <% if @quizzes.size >= 7 %>
      <%= link_to new_quiz_path, class: 'btn btn-primary pull-right btn-sm' do %>
        <i class="glyphicon glyphicon-plus glyphicon-white"></i>New Quiz
      <% end %>
    <% end %>
    <hr/>
  </div>  
  <div class="table-responsive">
  <table class="table table-bordered table-striped index-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Published</th>
        <th>Category</th>
        <th>Subject</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td><%= link_to quiz.name, quiz_path(quiz), class: "index-link" %></td>
          <td><%= truncate(quiz.description, length:40) %></td>
          <td><%= quiz.published ? "Yes" : "No" %></td>
          <td><%= quiz.category.name %></td>
          <td><%= quiz.subject.name %></td>
          <td><%= link_to 'destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' }, class: "index-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="page-actions">
    <%= link_to new_quiz_path, class: 'btn btn-primary pull-right btn-sm' do %>
      <i class="glyphicon glyphicon-plus glyphicon-white"></i>New Quiz
    <% end %>
  </div>
  <div><%= will_paginate @quizzes %></div>
  <br/>
  <br/>
</div>
