<div class="well">
  <div class="section-header">
    Quizzes Written
     <% if @quizzes.size >= 1 %>
      <%= link_to new_quiz_path, class: 'btn btn-primary pull-right btn-sm' do %>
        <i class="glyphicon glyphicon-plus glyphicon-white"></i>
        New Quiz
      <% end %>
    <% end %>
    <hr/>
  </div>  

 <%= render partial: 'search/shared_search', locals: { path: quizzes_path } %>

  <div class="table-responsive">
    <table class="table table-bordered table-striped index-table">
      <thead>
        <tr>
          <th width="25%" class='<%= sortable_css_class("name") %>'>
            <%= sortable_link "name" %>
          </th>
          <th width="25%" class='<%= sortable_css_class("description") %>'>
            <%= sortable_link "description" %>
          </th>
          <th width="12%" class='<%= sortable_css_class("published") %>'>
            <%= sortable_link "published" %>
          </th>
          <th width="14%">Category</th>
          <th width="14%">Subject</th>
          <th width="5%">Questions</th>
          <th width="5%" colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @quizzes %>
      </tbody>
    </table>
  </div>

  <div class="page-actions">
    <%= link_to new_quiz_path, class: 'btn btn-primary pull-right btn-sm' do %>
      <i class="glyphicon glyphicon-plus glyphicon-white"></i>
      New Quiz
    <% end %>
  </div>

  <div class="center">
    <%= will_paginate @quizzes, renderer: BootstrapPagination::Rails  %>
  </div>

  <br/><br/>
</div>
