<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quiz.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quiz.author_id %>
</p>

<p>
  <strong>Published:</strong>
  <%= @quiz.published %>
</p>

<p>
  <strong>Category:</strong>
  <%= @quiz.category %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @quiz.subject %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
