<ul class="breadcrumb">
  <li><%= link_to 'My Quizzes', quizzes_path %></li>
  <li class="active">Show Quiz</li>
</ul>

<div class="well">
  
  <div class="section-header">
    <%= @quiz.name %>   
    <%= link_to "Delete", quiz_path(@quiz), 
          method: :delete, 
          data: { confirm: 'Are you sure?' }, 
          class: "btn btn-sm btn-danger pull-right" 
    %>
    <%= link_to_if @quiz.questions.present?, 
          "Take Quiz", 
          new_quiz_event_path(quiz_id: @quiz.id),  
          class: "btn btn-sm btn-success pull-right" 
    %>
    <%= link_to_if show_published_link?, 
          publish_label, 
          quiz_toggle_publish_path(@quiz), 
          class: "btn btn-sm btn-primary pull-right",
          method: :put 
    %>
    <%= link_to "Edit", 
          edit_quiz_path(@quiz), 
          class: "btn btn-sm btn-primary pull-right" 
    %>
  </div>

<%= render partial: 'quiz_fields', locals: { quiz: @quiz } %> 
</div>    

<div class="well">
  <%= render 'quiz_questions' %>
</div>