<div class="well">
  
  <div class="section-header">
    <%= @quiz.name %>   
    <% if @quiz.published || (!@quiz.published && @quiz.can_publish?) %>
      <% label = @quiz.published ? "Unpublish" : "Publish" %>
      <%= link_to "#{label} Quiz", quiz_toggle_publish_path(@quiz), 
          class: "btn btn-sm btn-success pull-right",
          method: :put %>
    <% end %>
    <%= link_to "Edit Quiz Information", edit_quiz_path(@quiz), 
          class: "btn btn-sm btn-primary pull-right" %>
    <hr/>
  </div>
<%= render 'quiz_fields' %> 
</div>    

<div class="well">
  <%= render 'quiz_questions' %>
</div>