<div>
  <%= form_tag path, method: :get do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search], 
      options = { size: 30, placeholder: "search all text fields shown below" } %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>


