
<div class="well">
  <div class="section-header">
    Search for a quiz to take
    <hr/>
    <%= render 'search_form' %>
  </div>  
 
  <div class="table-responsive">
    <table class="table table-bordered table-striped index-table">
      <thead>
        <tr>
          <th class="col-xs-3">Name</th>
          <th class="col-xs-5">Description</th>
          <th class="col-xs-1">Category</th>
          <th class="col-xs-2">Subject</th>
          <th class="col-xs-1">Questions</th>
        </tr>
      </thead>
      <tbody>
        <% @quizzes.each do |quiz| %>
          <tr>
            <td>
              <%= link_to \
                quiz.name, 
                new_quiz_event_path(quiz_id: quiz.id), 
                class: "index-link" 
              %>
            </td>
            <td><%= quiz.description %></td>
            <td><%= quiz.category.name %></td>
            <td><%= quiz.subject.name %></td>
            <td><%= quiz.number_of_questions %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="center">
    <%= will_paginate @quizzes, renderer: BootstrapPagination::Rails %>
  </div>
</div>