
<div class="well">
  <div class="section-header">
    Search for a quiz to take
    <hr/>
    <%= form_tag search_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search], options = { size: 30, placeholder: "search all fields shown below" } %>
      <%= submit_tag "Search", :name => nil  %>
    </p>
    <% end %>
  </div>  
 
  <div class="table-responsive">
  <table class="table table-bordered table-striped index-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Subject</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td><%= link_to quiz.name, new_quiz_event_path(quiz_id: quiz.id), class: "index-link" %></td>
          <td><%= quiz.description %></td>
          <td><%= quiz.category.name %></td>
          <td><%= quiz.subject.name %></td>
          <td><%= link_to "details", new_quiz_event_path(quiz_id: quiz.id) , class: "index-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="center"><%= will_paginate @quizzes, renderer: BootstrapPagination::Rails  %></div>
</div>