
<%= form_tag new_deck_event_path(deck_id: @deck_event.deck_id), method: :get  do %>

  <%= hidden_field_tag :deck_id, @deck_event.deck_id %>

  <div class="row deck-event-options-row">
    <div class="col-sm-4"><%= render 'form_sort_selection' %></div>
    <div class="col-sm-8"><%= render 'form_filter_selection' %></div>
  </div>
  
  <div class="center">
    <%= button_tag(type: "submit", name: "submit", class: "btn btn-primary deck-event-btn") do %>
      Start! <i class="glyphicon glyphicon-play"></i>
    <% end %>
  </div>

<% end %>