
<%= form_tag new_deck_event_path(deck_id: @deck_event.deck_id), method: :get  do %>

  <%= hidden_field_tag :deck_id, @deck_event.deck_id %>
  <%= hidden_field_tag :filtered, params[:filter] %>

  <div class="row deck-event-options-row">
    <div class="col-sm-8 col-sm-offset-2"><%= render 'form_filter_selection' %></div>
  </div>
  
  <div class="center">
    <%= button_tag( type: "submit", 
                    name: "filter", 
                    value: "true",
                    class: "btn btn-lg btn-primary new-deck-event-btn") do %>
                        Start! <i class="glyphicon glyphicon-play"></i>
    <% end %>
    <%= link_to :back, class: "btn btn-lg btn-danger" do %>
        Cancel<i class="glyphicon glyphicon-remove"></i>
    <% end %>
    
  </div>

<% end %>