
<div id="new-deck-event-page">

  <div class='deck-event-header center'>
    Flash Deck <span class="deck-event-title"><%= @deck_event.name %></span>
  </div>
  <hr/>

  <div class='options-section'>
    <h5>You can optionally apply filters to customize your view!</h5>
    <%= render 'options_form' %>
    <%= render 'empty_set_error' if @deck_event.no_cards? %>
  </div>

  <div class="hidden-data">
    <div id="flash-card-set-count"><%= @deck_event.flash_card_set.size %></div>
  </div>

  <div class="row">
  <div id="flash-card-player">
    <%= render 'deck_event_player' %>
  </div>
  </div>

  <div id="de-finished" class="well">
    <div id="finished-message" class="center">
      <h5>You have completed this flash card session! </h5>
      <h4 id="de-score"></h4>
      <h5>To store this in your history, click on the save button.</h5><br/>
    </div>
    <!-- render the deck_event form here (hidden) -->
    <div class='form-section'>
      <%= render 'form' %>
    </div>
  </div>

</div>