<div class="well">

  <div class="section-header">
    Cheatsheets
    <%= new_cheatsheet_button %>
   <hr/>
  </div>  

  <%= render partial: 'search/shared_search', locals: { path: cheatsheets_path } %>
  <%= render partial: 'shared/tag_list', locals: { tag_path: :cheatsheet_tag_path } %>
 
  <div class="table-responsive">
    <table class="table table-bordered table-striped index-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Tags</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @cheatsheets %>
      </tbody>
    </table>
  </div>

  <div class="page-actions">
    <%= new_cheatsheet_button %>
  </div>

  <div class="center">
    <%= will_paginate @cheatsheets, renderer: BootstrapPagination::Rails  %>
  </div>

  <br/><br/>

</div>