<tr id="<%= flash_card.id %>" class="flash-card">
  <td><%= flash_card.front %></td>
  <td><%= flash_card.back %></td>
  <td><%= FlashCard.difficulty_description(flash_card.difficulty) %></td>
  <td><%= link_to "delete", flash_card,
      remote: true,
      method: :delete, 
      data: { confirm: "Are you sure?" },
      class: "index-link" %>
  </td>
  <td><%= link_to "edit", edit_flash_card_path(flash_card),
      remote: true,
      class: "index-link" %>
  </td>
</tr> 