<tr>
  <td><%= link_to deck.name,
          deck_path(deck),
          class: "index-link"  %>
  </td>  
  <td><%= deck.tag_list %></td>
  <td><%= deck.status %></td>
  <td><%= deck.flash_cards_count %></td>
  <td><%= link_to 'destroy', deck,
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: "index-link delete-link" %>
  </td>
   <td><%= link_to 'play', 
            new_deck_event_path(deck_id: deck.id),
            class: "index-link play-link" %>
  </td>
</tr>