<div class="panel panel-default">
  <div class="panel-heading panel-purple">
    <div class="panel-title index-section-header">
      <i class="<%= Icon::FLASH_CARD %>"></i>
      Flash Card Decks
      <span class="badge pull-right">
          <%= @facade.count %>
       </span>
    </div>
  </div>
  <div class="panel-body">
    <%= render  partial: 'search/shared_search', 
                locals: { path: decks_path, btn_cmd: "new_deck_button" } %>
    <%= render  partial: 'shared/tag_list', 
                locals: { tag_path: :deck_tag_path, 
                          tag_names: @facade.tag_names } %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped index-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Status</th>
            <th>Num Cards</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
          <%= render @facade.decks %>
          <%  if @facade.decks.empty? %>
            <tr><td colspan="6">There are no flash card decks yet.</td></tr>  
          <% end %>
      </table>
    </div>

    <div class="page-actions">
      <%= new_deck_button %>
    </div>

    <div class="center">
      <%= will_paginate @facade.decks, renderer: BootstrapPagination::Rails %>
    </div>

    <br/><br/>
  </div>
</div>