<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Quizzes <i class="<%= Icon::QUIZ %>"></i><b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li role="presentation" class="dropdown-header">
      My Quizzes
    </li>
    <li><%= link_to "New Quiz", new_quiz_path %></li>
    <li><%= link_to "Quizzes Written", quizzes_path %></li>
    <li><%= link_to "Quizzes Taken", quiz_events_path %></li>
    <li><%= link_to "Merge Quizzes", new_quiz_merges_path %></li>
    <li class="divider"></li>
    <li role="presentation" class="dropdown-header">All Quizzes</li>
      <li>
        <%= link_to search_path do %>
          Search<i class="<%= Icon::SEARCH %>"></i>
        <% end %>
    </li>
  </ul>
</li>